
.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(38, 245, 135);
  width: 25rem;
  height: 38rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 10);
}



.landing-page-container img{
  width: 150px;
  height: auto;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.logo {
  background-color: rgb(46, 91, 216);
  padding: 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 6rem;
  width: 20rem;
  margin-bottom: 30px;
  text-align: center;
}

/* For devices with a maximum width of 600px */

@media only screen and (max-width: 600px) {
  .landing-page-container {
    width: 90%;
    height: 70%;
  }

  .logo {
    font-size: 20px;
    height: 4rem;
    width: 16rem;
  }

  input {
    width: 80%;
  }
}