body {
  overflow: hidden;
}

/* HEADER */
.header-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
}
.header-container button {
    margin: 2rem;
    border-radius: 1rem;
}

/*List*/
.list-container {
  height: 25rem;
  width: 22rem;
  overflow: scroll;
  background-color: red;
  margin: 0.2rem auto 0.2rem auto;
}
.card-container {
  display: flex;
  flex-direction: row;
}
.task-card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  width: fit-content;
  height: 3rem;
  background-color: blueviolet;
}
.card-left {
  background-color: aqua;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 3rem;
  height: 3rem;
}
.card-right {
  background-color: rgb(44, 118, 118);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 17rem;
  height: 3rem;
}
.card-right h2, .card-left h2 {
  width: fit-content;
  height: fit-content;
  margin: 0.3rem auto;
}
.card-content {
  display: block;
  width: 20rem;
  height: 3rem;
  background-color: chartreuse;
  z-index: 1;
}

.card-slide-open {
  animation-name: card-slide-open;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.card-slide-closed {
  animation-name: card-slide-closed;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes card-slide-open {
  from {height: 3rem;}
  to {height: 10rem;}
  
}
@keyframes card-slide-closed {
  from {height: 10rem;}
  to {height: 3rem;}
}

/* FILTER */
.filtering-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20rem;
  height: 2rem;
  background-color: aqua;
  margin: 1rem auto;
}

/* MAP */
.map-wrapper {
  background-color: purple;
  height: 100rem;
  width: 100vw;
  margin: 1rem auto
}

.info-small {
  width: fit-content;
  margin: 0 auto;
}